body {
    scroll-behavior: smooth;
}

.hero {
    height: 100vh;
    background: linear-gradient(to right, #0d6efd, #6610f2);
    color: white;
    display: flex;
    align-items: center;
}

.progress {
    height: 20px;
}

.card:hover {
    transform: translateY(-8px);
    transition: 0.3s;
}
